/*=================================*/
/* Anatole Pico Theme
/* Originally by CaiCai (https://github.com/hi-caicai)
/* Port by Breadcat (https://github.com/breadcat/)
/*=================================*/

/* Reset Styles
/*---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
    color: black;
    background: white;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

/* HTML5 tags */
header, footer,
aside, nav, article, figure {
    display: block;
}

header {
	height: 100%;
	text-align: center;
	}

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
    cursor: pointer;
}


/* Input Styles
/*---------------------------------------------*/
input,
textarea,
select {
    padding: 5px;
    font: 400 1em Verdana, Sans-serif;
    color: #666;
    background: #fff;
    border: 1px solid #999999;
    margin: 0 0 1em 0;
}

input:focus,
textarea:focus,
select:focus {
    color: #000;
    background: #fff;
    border: 1px solid #666666;
}

/* Main Styles
/*---------------------------------------------*/
html { height: 100%; }

body {
    font: 15px 'PingHei', 'PingFang SC', Helvetica Neue, 'Work Sans', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
    color: #444;
    background: #fff;
    height: 100%;
}

a {
    color: #4786D6;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #666666;
    line-height: 1.2em;
    margin-bottom: 0.6em;
}

h1 {
    font-size: 24pxem;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
    margin-top: 2em;
}

p, table, ol, ul, pre, blockquote, dl {
    margin-bottom: 1em;
}

ol, ul {
    padding-left: 30px;
}

b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

u {
    text-decoration: underline;
}

abbr, acronym {
    cursor: help;
    border-bottom: 0.1em dotted;
}

td, td img {
    vertical-align: top;
}

td, th {
    border: solid 1px #999;
    padding: 0.25em 0.5em;
}

th {
    font-weight: bold;
    text-align: center;
    background: #eee;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

code {
    font-family: Courier, "Courier New", Monaco, Tahoma;
    background: #eee;
    color: #333;
    padding: 0px 2px;
}

pre {
    background: #eee;
    padding: 20px;
    overflow: auto;
}

blockquote {
    font-style: italic;
    margin-left: 15px;
    padding-left: 10px;
    border-left: 5px solid #dddddd;
}

dd {
    margin-left: 2em;
}

/* Structure Styles
/*---------------------------------------------*/

header, footer {
	width: 40%;
	position: fixed;
}
header img {
	width: 127px;
	padding-top: 240px;
	}
header h3 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2rem;
	color: #464646;
	margin: 0;
	}
header h3 a {
	color: #464646;
	}
footer {
	font-size: 10px;
	color: #A6A6A6;
	bottom: 10px;
	line-height: 2.5;
	text-align: center;
	}
footer a {
	color: #A6A6A6;
	}
footer a:hover {
	color: #4786D6;
	}	
nav, article {
	margin-left: 40%;
	border-left: 1px solid #f2f2f2;
	}
nav {
	height: 60px;
	width: 100%;
	position: fixed;
	border-bottom: 1px solid #f2f2f2;
	padding-left: 30px;
	background: #fff;
	}
nav a {
    font-size: 12px;
    color: #5a5a5a;
    position: relative;
    padding: 0px 0px 20px 0px;
    top: 20px;
    margin-right: 20px;
	}
nav a:hover {
    color: #464545;
	}
nav a.active {
	border-bottom: 1px solid #5a5a5a;
	color: #5A5A5A;
	}
article {
	padding: 90px 30px 30px 30px;
	}

/* Misc Styles
/*---------------------------------------------*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* Media Queries
/*---------------------------------------------*/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .inner {
        width: 85%;
    }
    .inner img {
        width:100%;
    }
    #header {
        margin-bottom: 40px;
        padding: 30px 0;
    }
    #header h1 {
        float: none;
    }
    #header nav {
        float: none;
        width: 100%;
    }
    #header nav ul {
        padding: 0;
    }
    #header nav li {
        display: block;
        float: left;
        width: 50%;
        text-align: center;
    }
    #header nav li a {
        display: block;
        margin: 0;
        padding: 10px 0;
    }
    #footer {
        margin-top: 40px;
        padding: 30px 0;
    }
}
